@{
    ViewData["Title"] = "List BLOBs";
}
@model BlobModelCollection

<h1>List of BLOBS Uploaded</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">File Name</th>
      <th scope="col">Size</th>
      <th scope="col" style="text-align: center;">Download</th>
    </tr>
  </thead>
  <tbody>
    @{ int n = 0; }
    @foreach (var blob in Model.Blobs)
    {
      { n++; }
      <tr>
        <th scope="row">@n</th>
        <td>@blob.BlobName</td>
        <td>@blob.Size</td>
        <td style="text-align: center;"><a asp-area="" asp-controller="Home" asp-action="Download" asp-route-itemid="@blob.BlobName"><i class="fas fa-download"></i></a></td>
      </tr>
    }
  </tbody>
</table>