@{
    ViewData["Title"] = "List BLOBs";
}
<h1>List of BLOBS Uploaded</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">File Name</th>
      <th scope="col">Size</th>
      <th scope="col" style="text-align: center;">Download</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>File1.txt</td>
      <td>1214</td>
      <td style="text-align: center;"><a href="#"><i class="fas fa-download"></i></a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>File2.csv</td>
      <td>1315</td>
      <td style="text-align: center;"><a href="#"><i class="fas fa-download"></i></a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>File3.xml</td>
      <td>1519</td>
      <td style="text-align: center;"><a href="#"><i class="fas fa-download"></i></a></td>
    </tr>
  </tbody>
</table>