@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is just a placeholder and does not require any specific privacy policy. This is kept here for completeness.</p>
